*{
    box-sizing: border-box
}
body,html{
    margin:0;
    padding:0;
}
/* *은 모든 태그를 의미한다 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;/* 선택자(selector) */
}
.relative{
    position: relative;
}
/* id는 html에서 한번만 쓸 수있고, 클래스는 여러번 사용할 수 있다. */
.center-align{
margin:0 auto;
width: 1080px;
}

/* div가 아닌애들은 # 앞에 태그이름이 생략이 안된다! */
header{
    height:170px;
}
#header-top{
    float:right;
    margin-top: 8px;
}
#header-top span{
    color:#888;
    letter-spacing:-1px;
    /* 글자사이의 간격, 자간 */
    font-size:11px;
    line-height: 22px;
    /* 그 라인의 정해진 크기 */
    /* 이 세로 크기가 너무 작으면 글씨가 겹치게됨 */
}
#header-search{
    clear:both;
    margin-top:20px;
}

.search-keyboard{
    background-image:url(sp_search.png);
    background-repeat: no-repeat;
    background-position:-33px -60px;
    width:19px;
    height:11px;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
}

.search-history{
    background-image:url(sp_search.png);
    background-repeat: no-repeat;
    background-position:-87px -60px;
    width:9px;
    height:4px;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
}

#header-search h1{

    background-image: url(sp_search.png);
    display: inline-block;
    width: 198px;
    height: 48px;
    background-position: -1px -8px;
    background-repeat: no-repeat;
    vertical-align: middle;
    /* 세로 정렬임. */
    position:relative;
    top:-6px;
    /* relative는 상대적인데, 현재 static 위치랑 비교  */
    /* 현재위치를 기준으로 움직인다 */
}
#header-search h1 span{
    display:none;
}

#header-search h2{
    display:none;
}

#header-search h2{

    display:none;

}

nav{

    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

#header-search fieldset{
    margin-left: 18px;
    width: 521px;
    height: 49px;
    display:inline-block;
    padding:12px 0 12px 10px;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}



#header-search fieldset input{
    border:none;
    padding:0;
    outline:none;
    vertical-align: top;
    width:395px;
    height:23px;
    display: inline-block;
}

#header-search fieldset button{
    width:49px;
    height:49px;
    border: none;
    padding:0;
    background:#03cf5d;
   position:absolute;
   right:-2px;
   top:-2px;
   /* absolute는 화면 자체를 기반으로 움직인다. */
   /* absolute면 부모들을 찾아서 컨테이닝 블럭이 있는데 까지 올라가서 */
   /* 여기서 컨테이닝 블럭은 포지션이 스태틱이나 relative */
   /* relative는 컨테이닝 블럭이 되는거다. */
   /* display가 inline이면 컨테이닝 블럭이 될 수 없다. */
    
}

#search-image{
    background:#03cf5d;
    background-image:url(./sp_search.png);
    background-position: -3px -59px;
    background-repeat: no-repeat;
    width:21px;
    height: 21px;
    display:inline-block;
    margin: 14px;
}

nav ul{
    margin:0;
    padding:16px 0 0 4px;
    list-style:none;
    display:inline-block;
    display:inline-block;
    vertical-align: top;
    float:left;
}

nav li{
    display: inline-block;
    vertical-align: top;
}
/* fixed의 경우 컨테이닝 블럭은 화면이나 페이지 영역 그자체다. */
nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    margin-left: 10px;
    /* !important; 이거 있으면 그냥 우선 순위를 제일 위로 올려줌 */
    background-image: url(sp_nav.png);
    background-repeat: no-repeat;
    
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}
nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}
nav li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
    width: 26px;
    background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}

nav li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -104px;
}


.nav-divider{
    display:inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

/* 마진은 sibling일때 상쇄가능 */
#search-ranking {
    position: absolute;
    top: 14px;
    right: 0;
}

#rank-number {
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}

#rank-title {
    letter-spacing: -1px;
    font-size: 14px;
}

main {
    background-color: #f2f4f7;
    display: inline-block;
    width:100%;
}

#main-ytn {
    display: inline-block;
    width: 740px;
    height: 46px;
    background-color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-ytn h3,
#main-ytn ol {
    display: inline-block;
}

#main-newsstand {
    display: inline-block;
    width: 740px;
    height: 246px;
    background-color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-newsstand h3 {
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}

#main-newsstand ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#main-newsstand li {
    float: left;
    width: 123px;
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center;
}

#main-newsstand li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;;
}

#main-weather {
    display: inline-block;
    width: 332px;
    height: 142px;
    background-color: white;
    margin-bottom: 8px;
}

#main-second-ad {
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #555;
    /* 자식보다 최대한 부모에 많이 넣기
    졸리다.. */
    float:left;
    vertical-align: top;
}

#main-category {
    
    width: 740px;
    height: 837px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
}

#main-shopping {
    background: white;
    margin-bottom: 8px;
    width: 332px;
    height: 882px;
    float: left;
}
/* 기본으로 지정해주는 태그의 margin 같은거는 브라우저마다 값이 다름. */
#main-third-block, #main-fourth-block {
    display: inline-block;
    width: 100%;
}

#main-event {

    width: 740px;
    height: 130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
    float:left;

}
/* 내부보다 외부를 먼저해라 */
#main-third-ad {
    
    width: 332px;
    height: 130px;
    background: #555;
}
#fixed{
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: inline-block;
    width:100px;
    height:100px;
    border:1px solid black;
    border-radius: 50px;
}
#subject-prev{
    display: inline-block;
}
iframe{
    width:500px;
    height:900px;
    display: inline-block;
    position: relative;
    bottom:350px;
    /* 크기맞출려고 따로작성 */
}
#subject-list li.highlight {
    border-bottom: 3px solid #00c73c;
    color: #00b336;
    font-weight: 700;
    height: 45px;
}

#subject-all {
    border-right: 1px solid #ebeef3;
}

#subject-all, #subject-prev, #subject-next {
    position: relative;
    width: 45px;
    border: none;
    border-left: 1px solid #ebeef3;
    background: white;
}

#subject-all span:last-child {
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 14px;
    background-image: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -218px -257px;
}

#subject-prev span:last-child {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-image: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px 0;
}

#subject-next span:last-child {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-image: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px -52px;
}

section {
    border: 1px solid #dee3eb;
}