*{
    box-sizing: border-box
}
body,html{
    margin:0;
    padding:0;
}
/* *은 모든 태그를 의미한다 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;/* 선택자(selector) */
}
/* id는 html에서 한번만 쓸 수있고, 클래스는 여러번 사용할 수 있다. */
.center-align{
margin:0 auto;
width: 1080px;
}

/* div가 아닌애들은 # 앞에 태그이름이 생략이 안된다! */

#header-search h1{

    background-image: url(sp_search.png);
    display: inline-block;
    width: 198px;
    height: 48px;
    background-position: -1px -8px;
    background-repeat: no-repeat;
    vertical-align: middle;
    /* 세로 정렬임. */
    position:relative;
    top:-6px;
    /* relative는 상대적인데, 현재 static 위치랑 비교  */
    /* 현재위치를 기준으로 움직인다 */
}

/* #header-search  h1{
    width:280px;
    자손선택자
} */

#header-search h2{

    display:none;
}

#header-search fieldset{
    margin-left: 20px;
    width: 521px;
    height: 49px;
    display:inline-block;
    padding:12px 0 12px 10px;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}



#header-search fieldset input{
    border:none;
    padding:0;
    outline:none;
    vertical-align: top;
    width:405px;
    height:23px;
    display: inline-block;
}

#header-search fieldset button{
    width:49px;
    height:49px;
    border: none;
    padding:0;
    background:#03cf5d;
   position:absolute;
   right:-2px;
   top:-2px;
   /* absolute는 화면 자체를 기반으로 움직인다. */
   /* absolute면 부모들을 찾아서 컨테이닝 블럭이 있는데 까지 올라가서 */
   /* 여기서 컨테이닝 블럭은 포지션이 스태틱이나 relative */
   /* relative는 컨테이닝 블럭이 되는거다. */
   /* display가 inline이면 컨테이닝 블럭이 될 수 없다. */
    
}

#search-image{
    background:#03cf5d;
    background-image:url(./sp_search.png);
    background-position: -3px -59px;
    background-repeat: no-repeat;
    width:21px;
    height: 21px;
    display:inline-block;
    margin: 14px;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    display: inline-block;
}
/* fixed의 경우 컨테이닝 블럭은 화면이나 페이지 영역 그자체다. */
nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    margin-left: 14px;
    /* !important; 이거 있으면 그냥 우선 순위를 제일 위로 올려줌 */
    background-image: url(sp_nav.png);
    background-repeat: no-repeat;
    
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}
