html{
    height:100px;
}

body{
    color:white;;
    margin-top:50px;
    
}

div{
    margin:0;
    padding:0;
}
.git-icon{
    background-image: url("git.png");
    
    
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: bottom;
    border:none;
}

.top-screen{
    margin-left: 9%;
    margin-top: 1%;
}

.toplist{
    display: inline-block;
    height:50px;
    position: relative;
    bottom:20px;
    font-size: 20px;
    padding-left:30px;
}
.search{
    position:relative;
    display: inline-block;
    left:300px;
    height:50px;
    border:none;
    top:7px;
}
.gitlist{
    margin-left: 20px;
}
.gitlist span{
    padding-left:10px;
}



.Signin{
    background-color:rgb(39,44,50) ;
    border:none;
    color:white;
    padding-top: 20px;
    font-size:20px;
    margin-left:10px;
}
.Signup{
    background-color:rgb(39,44,50) ;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-size:20px;
    height:40px;
    margin-left:10px;
}

.search-input{
    border-radius: 7px;
    background-color: gray;
    color:white;
    height: 40px;
    width:300px;
    text-align: left;
    font-size: 20px;
}

.textbox{
    display: inline-block;
    margin-left: 380px;
    position: relative;
    top:-200px;
    left:-30px;
}

.inputbox{
    display: inline-block;
    background-color: white;
    color:black;
    width:550px;
    height:480px;
    padding-top: 120px;
    border-radius: 15px;
    margin-left: 20px;
}
.maintext{
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
}
.subtext{
    color:gray;
    font-size: 25px;
}
.highlight{
    color:white;
    text-decoration: underline rgb(78, 77, 77);
}
.main{
    width: 1800px;
    height:900px;
}

.inputboxIn{
    position: relative;
    top:-90px;
    left:30px;
}

.content{
    font-size: 18px;
    font-weight: bold;
    
}
.inputboxIn fieldset{
    width:450px;
    margin-top: 10px;
    border-radius: 7px;
    height:30px;
    margin-bottom: 20px;;
}
.inputboxIn fieldset input{
    
    height:30px;
    width:430px;
    vertical-align: top;
    border: none;;
    

}
.warntext{
    font-size:14px;
    font-weight:3px;
}
.mainbutton{
    background-color: rgb(36, 209, 36);
    border:none;
    border-radius: 7px;
    font-size: 18px;
    width:90%;
    color:white;

    height:70px;
    margin-bottom: 30px;
}
.downpage{
    background-color: white;
    width:1900px;
    height:270px;
    margin-top:160px;
}
.iaa{
    float:right;
    position: relative;
    bottom:110px;
    right:200px;
}