body{
    background-color: black;
    color:white
}

a{
    color:white;
    text-decoration: none;;
}
a button{
    font-size: 40px;
}

.content1{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}