<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cyborg/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pirostagram</title>
</head>
<body>
    
    {%for post in posts%} 
    <span>{{post.content}}</span>
    <button type="button" class="btn btn-primary">{{post.like}}</button><p></p>
    {% endfor %}
    <div>
        <a href="{% url 'insta:create'%}">
        <button type="button" class="btn btn-light">글 쓰기</button>
    </a>
    </div>
    
</body>
</html>